@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
:root{
  --MainColor1: #e74c3c;
  --MainColor2: #f1c643;
  --MainColor3: #7bb063;
  --MainColor4: #ff7700;
  --AuxColor1: #e0e0e0;
  --AuxColor2: #101010;
  --BackColor1: #303030;
  --BackColor1a: #404040;
  --BackColor1b: #505050;
  --BackColor2: #606060;
  --BackColor2a: #808080;
  --BackColor2b: #A0A0A0;
  --BackColor3: #D2D2D2;
  --IconColor1: #006699;
  --IconColor2: #40A6C9;
}


/* Main Body Settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--BackColor1);
  font-family: "Nunito", sans-serif;
  font-size: 0.9rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  color: var(--AuxColor1);
}

.container_top {
  flex: 0 0 auto;
  display: grid;
  grid-gap: 0.4rem 0.2rem;
  margin-bottom: 0.4rem;
}

.container_mid {
  overflow-y: scroll;
  display: grid;
  grid-gap: 0.4rem 0.2rem;
  margin-bottom: 0.4rem;
}

.container_bottom {
  margin-top: auto;
  display: grid;
  grid-gap: 0.4rem 0.2rem;
  margin-bottom: 0.4rem;
}


/* Grid Display */

.grid-3-fixed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.2rem 0.2rem;
  align-items: center;
  width: 100%;
}

.grid-5-fixed {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.2rem 0.2rem;
  align-items: center;
  width: 100%;
}

.grid-7-fixed {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0.2rem 0.2rem;
  align-items: center;
  width: 100%;
}

.grid-10-fixed {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 0.2rem 0.2rem;
  align-items: center;
  width: 100%;
}

.grid-3_5-minmax {
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(3.5rem, 1fr));
  grid-gap: 0.2rem 0.2rem;
  align-items: center;
  width: 100%;
}

.grid-9-minmax {
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(9rem, 1fr));
  grid-gap: 0.2rem 0.2rem;
  align-items: center;
  width: 100%;
}

.grid-span2 {
  grid-column: span 2 / auto;
}

.grid-span3 {
  grid-column: span 3 / auto;
}

.grid-span4 {
  grid-column: span 4 / auto;
}

.grid-span5 {
  grid-column: span 5 / auto;
}

.grid-span6 {
  grid-column: span 6 / auto;
}

.grid-span4R {
  grid-row: span 4 / auto;
}


/* Alignment */

.text_left {
  text-align: left;
}

.text_right {
  text-align: right;
}

.vertical_mid {
  vertical-align: center;
  place-items: center;
}


/* Header */

.page_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0 0 1rem;
  color: var(--IconColor2);
}


/* Scroll Bar Design */

.scroll_bar-1::-webkit-scrollbar {
  background: var(--BackColor1);
  width: 5px;
}

.scroll_bar-1::-webkit-scrollbar-thumb {
  background: var(--BackColor2);
}

.scroll_bar-1a::-webkit-scrollbar {
  background: var(--BackColor1a);
  width: 5px;
}

.scroll_bar-1a::-webkit-scrollbar-thumb {
  background: var(--BackColor2b);
}


/* Button Designs */

.button_base {
  width: 5rem;
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 0.3rem 0;
  border-radius: 0.6rem;
  margin: 0.3rem auto;
  color: var(--IconColor1);
  background-color: var(--BackColor3);
}

.button_base:disabled {
  color: var(--BackColor2);
}

.button_hover:hover {
  color: var(--BackColor3);
  background-color: var(--IconColor1);
}

.button_wide {
  width: 7.5rem;
}

.button_thin {
  width: 4rem;
}

.button_number {
  width: 80%;
  min-width: 3rem;
}

.button_icon {
  width: 2.3rem;
}


/* Animations */

.flash-animation {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  z-index: 1;
}

.flash-animation.show {
  opacity: 1;
  animation: flash 1s ease-in-out;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}


/* Others */

.weather {
  height: 3rem;
  overflow-y: scroll;
}

.num_pad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 0.2rem;
  align-items: center;
  background-color: var(--BackColor1b);
  width: 100%;
  max-width: 800px;
  margin: 0 auto 0.5rem auto;
}

.letter_pad {
  /*display: grid;*/
  align-items: start;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 12rem;
  background-color: var(--BackColor1a);
}

.rmk {
  color: var(--IconColor2);
}

.route_area {
  background-color: var(--AuxColor1);
  color: var(--IconColor1);
  width: 90%;
  max-width: 14rem;
}





/* Companies Color */

.kmb_text {
  color: var(--MainColor1);
}

.ctb_text {
  color: var(--MainColor2);
}

.gmb_text {
  color: var(--MainColor3);
}

.cty_text {
  color: var(--MainColor2);
}

.lwb_text {
  color: var(--MainColor4);
}

.jor_text {
  color: var(--AuxColor1);
}

.kmb_icon {
  color: var(--AuxColor1);
  background-color: var(--MainColor1);
}

.ctb_icon {
  color: var(--AuxColor2);
  background-color: var(--MainColor2);
}

.gmb_icon {
  color: var(--AuxColor1);
  background-color: var(--MainColor3);
  border-radius: 5rem;
}

.cty_icon {
  color: var(--AuxColor2);
  background: radial-gradient(farthest-corner at 0% -25%, var(--MainColor2) 0%, var(--MainColor2) 60%, var(--MainColor4) 60%, var(--MainColor4) 70%, #990000 70%);
}

.lmb_icon {
  color: var(--MainColor4);
  background-color: var(--BackColor2);
  border-width: thin;
  border-style: solid;
  border-color: var(--MainColor4);
}

.jor_icon {
  color: var(--AuxColor2);
  background: linear-gradient(110deg, var(--MainColor1) 0%, var(--MainColor1) 50%, var(--MainColor2) 50%);
}
